--
-- PostgreSQL database dump
--

\restrict 6iSpa3bhfo5LS7Qdm6QmaIRu4VtaSXDVhBMLgfXP5OZBsfKrOhfQoGZOD65LFD5

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    chain_names character varying(45) NOT NULL,
    us_sales_million_dollars integer,
    avg_sales_per_unit_us_thousands_dollars numeric,
    franchised_stores integer,
    company_stores numeric,
    year21_total_unit numeric,
    total_change_units_20 numeric
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

\unrestrict 6iSpa3bhfo5LS7Qdm6QmaIRu4VtaSXDVhBMLgfXP5OZBsfKrOhfQoGZOD65LFD5

